# 1. 보안 파일 (절대 업로드 금지)
.env
.env.*
keys/
*.key
apikey.txt

# 2. 파이썬 & 시스템 파일
__pycache__/
*.pyc
venv/
.venv/
.ipynb_chegckpoints/
.DS_Store
Thumbs.db
.vscode/
.idea/

# 3. 데이터베이스 (중요! 용량 큼)
chroma_data/
chroma_db_final/
chroma_db_*/

# 4. 대용량 데이터 파일
data/
*.csv
*.xlsx
*.pdf
*.hwp
*.zip

# 5. 도커 관련
.dockerignore

# Ragas 평가 결과 파일 무시
ragas_score.csv

# 제로샷 파일 무시
zero_shot_experiment.py
zero_shot_results.csv